//<МИКСИНЫ>======================================================================================================================================================================================================
@import "mixins.scss";
//</МИКСИНЫ>======================================================================================================================================================================================================

//<ШРИФТЫ>======================================================================================================================================================================================================

//<Подключаем шрифты>==============================================================================================================================================================================================
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
//</Подключаем шрифты>==============================================================================================================================================================================================

//<Шрифт по умолчанию>=================================================================================================================================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>=================================================================================================================================================================================================

//</ШРИФТЫ>==============================================================================================================================================================================================================

//<ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================
$minwidth: 320px;
//</ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================
@import "null.scss";

#nprogress {
  .bar {
    height: 5px;
    background-color: #ff8900;
  }
}

html,
#app {
  height: 100%;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================

//<ОБОЛОЧКА>==================================================================================================================================================================================================================
.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
//</ОБОЛОЧКА>==================================================================================================================================================================================================================

//<ОСНОВНАЯ СЕТКА>==================================================================================================================================================================================================================
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>==================================================================================================================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>===========================================================================================================================================================================================================
//===========================================================================================================================================================================================================

.page {
  flex: 1 1 auto;
  padding: 30px 0;
}

.three-block {
  margin: 0px 0px 15px 0px;

  &__btn {
    background: url("../icons/like.svg") no-repeat;
    outline: none;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 8px;
    right: 8px;

    &-active {
      background-image: url("../icons/like-active.svg");
    }
  }

  &__title {
    font-size: 50px;
    margin: 0px 0px 40px 0px;
  }

  &__row {
    display: flex;
    margin: 0px -15px;
    flex-wrap: wrap;
  }

  &__column {
    flex: 0 1 100%;
    padding: 0px 15px;
    margin: 0px 0px 15px 0px;
  }

  &__item {
    position: relative;
    background-color: #3ca0d0;
    padding: 15px;
    height: 384px;
  }

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__text {
    color: #fff;
    line-height: 25px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;

    .three-block__title {
      font-size: 40px;
      margin: 0px 0px 30px 0px;
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .three-block {
    &__title {
      font-size: 30px;
      margin: 0px 0px 15px 0px;
    }

    &__row {
      flex-wrap: wrap;
    }
  }
}
@media (min-width: 767px) {
  .three-block__column {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 766px) {
  .three-block {
    &__item {
      height: inherit;
    }

    &__image {
      text-align: center;
    }
  }
}

//</ОСНОВНОЙ БЛОК>===========================================================================================================================================================================================================
